.section-header {
    margin-bottom: 50px;
  }
  .section-header .section-title {
    font-size: 44px;
    color: #4F4F4F;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    margin: 0 0 20px;  
  
    border-bottom: 2px solid #429DD0;
  display: inline-block;
  }
  .section-header .section-title:before {
    content: "";
    position: absolute;
    width: 140px;
    bottom: 0;
    left: 50%;
    margin-left: -70px;
    height: 4px;
  }

  .btn {
    border-width: 0;
    border-radius: 0;
  }
  .btn.btn-primary {
    background: #62BDF0;
  }
  .btn.btn-primary:hover,
  .btn.btn-primary:focus {
    background: #429DD0;
  }

  #about {
    padding: 140px 0;
    background: #E5E5E5;
    color: #4F4F4F;
  }
  #about h2{
  color: #4F4F4F;
  }
  .site-navbar {
    background:#4A8FE7;
    padding: 30px 0;
  }
  
  .site-logo a {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .site-menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .site-menu li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .site-menu li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
  }
  
  .site-menu li a:hover {
    color: #666;
  }
  
  .right-cta-menu .btn {
    margin-left: 10px;
  }
  
  .right-cta-menu .btn-primary {
    background-color: #333;
    color: #fff;
    border-color: #333;
  }
  
  .right-cta-menu .btn-primary:hover {
    background-color: #666;
    border-color: #666;
  }

