* {
    box-sizing: border-box;
}
body {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}
body:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
.home-section h1 {
    font-size: 3rem;
    color: #fff;
    font-weight: 200;
}
.section-hero, .section-hero > .container > .row {
    height: 100vh;
    min-height: 900px;
}
.passionate-text {
    color: #fff;
}
.section-hero.overlay {
    position: relative;
}
.site-navbar .site-logo a {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-decoration: none;
}
.bg-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.home-section {
    position: relative;
}
.section-hero.overlay:before {
    z-index: 1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
.site-navbar {
    margin-bottom: 0px;
    z-index: 1999;
    position: absolute;
    width: 100%;
    top: 2rem;
}
.site-navbar .site-logo {
    position: absolute;
    left: 4%;
}
.site-navbar .site-navigation {
    position: absolute;
    left: 81%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.site-navbar .right-cta-menu {
    position: absolute;
    right: -34%;
}
.site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
}
.site-navbar .site-navigation .site-menu > li {
    display: inline-block;
}
.site-navbar .site-navigation .site-menu .active {
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
}
.site-navbar .site-navigation .site-menu > li > a {
    padding: 20px 20px !important;
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    text-decoration: none !important;
}
.card {
    border: 2px solid rgb(0 0 0 / 0%);
}
.card-body {
    background-color: wheat;
}
.card-title {
    margin-bottom: 0.5rem;
    font-weight: 600;
}
.card-text:last-child {
    color: black;
    font-weight: 600;
}
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: 64% !important;
}
.navbar-collapse {
    flex-basis: 0;
    flex-grow: 0 !important;
    align-items: center;
}
.header {
    padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    background-color: #4A8FE7 !IMPORTANT;
    color: black;
    font-weight: 600;
}
.padding-change {
    padding-left: 0;
    padding-right: 0;
}
.card.unit-card {
   
        padding: 30px 40px;
        margin-top: 60px;
        margin-bottom: 60px;
        border: none !important;
        box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
        color: black;
        font-weight: 600;
    
}
.profile-card {
    margin-left: 40px;
    margin-right: 40px;
}
.dark-mode {
    background-color: black;
    color: white;
  }
  .toggle {
    cursor: pointer;
    display: inline-block;
  }
  
  .toggle-switch {
    display: inline-block;
    background: #80808094;
    border-radius: 16px;
    width: 58px;
    height: 25px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
  }
  .toggle-switch:before, .toggle-switch:after {
    content: "";
  }
  .toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    left: 4px;
    transition: left 0.25s;
  }
  .toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  }
  #theme-toggle:checked + .toggle-switch {
    background: #0d6efd;
  }
  #theme-toggle:checked + .toggle-switch:before {
    left: 38px;
  }
  
  #theme-toggle {
    position: absolute;
    visibility: hidden;
  }
  
  .toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
  }