{% extends 'main.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
<header class="site-navbar">
    <div class="container-fluid">
    <div class="row align-items-center">
    <div class="site-logo col-6"><a href="{% url 'home' %}">Corpu</a></div>
    <nav class="site-navigation">
    <ul class="site-menu js-clone-nav ml-0 pl-0">
    <li><a href="{% url 'home' %}" class="nav-link active">Home</a></li>
    <li><a href="{% url 'jobListing' %}">Jobs</a></li>
    <li><a href="#">Staff</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'contact' %}">Contact Us</a></li>
    <li class="d-lg-none"><a href="#">Contact Us</a></li>
    </ul>
    </nav>
    <div class="right-cta-menu text-right d-flex aligin-items-center col-md-6">
    <div class="ml-auto">
    <a href="{% url 'register' %}" style="cursor: pointer;" class="btn btn-primary border-width-2"><span class="mr-2 icon-paper-plane"></span>Register</a>
    <a href="{% url 'login' %}"  style="cursor: pointer;"  class="btn btn-primary border-width-2"><span class="mr-2 icon-paper-plane"></span>Login</a>
    </div>
    <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
    </div>
    </div>
    </div>
    </header>

	<section id="about">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown">About CorpU</h2>
            </div>

            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <img class="img-responsive" src="{% static 'images/about.png' %}" alt="">
                </div>

                <div class="col-sm-6 wow fadeInRight">
                    <p>CorpU is a newly accredited university that hires a significant number of casual or sessional staff each semester to facilitate classes, labs, and workshops. The sessional staff is managed by permanent or long-term contract staff members who are responsible for finding, training, and scheduling qualified sessionals for the units or subjects they oversee. Depending on availability and expertise, a sessional staff member can be engaged by one or multiple units, with up to 20 unique sessionals involved in each unit, depending on student enrollment.</p>

                    <a class="btn btn-primary" href="{% url 'home' %}">Learn More</a>
                </div>
            </div>
        </div>
    </section><!--/#about-->


{% endblock %}