{% extends 'main.html' %}
{% block content %}
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light header">
      <div class="container-fluid">
        <a class="navbar-brand" style="position: absolute; left: 0; margin-left: 5px;" href="{% url 'home' %}">Corpu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
      </div>
    </nav>
    </header>
<div class="container">
  <div class="card">
  <h3>Job Listings</h3>
                                                   
  <div class="table-responsive mt-3">          
  <table class="table table-primary">
    <thead>
      <tr>
        <th>ID</th>
        <th>UnitName</th>
        <th>Course Description</th>
        <th>Required Qualifications</th>
        <th>Teaching Materials</th>
        <th>Session Times</th>
        <th>Responsibilities</th>
        <th>Benefits</th>
      </tr>
    </thead>
    <tbody>
      {% for joblisting in table_data %}
      <tr>
        <td>{{ joblisting.pk}}</td>
        <td>{{ joblisting.UnitName}}</td>
        <td>{{ joblisting.course_description}}</td>
        <td>{{ joblisting.required_qualification}}</td>
        <td>{{ joblisting.teaching_materials}}</td>
        <td>{{ joblisting.session_times}}</td>
        <td>{{ joblisting.responsibilities}}</td>
        <td>{{ joblisting.benefits}}</td>
        <td><a href="{% url 'profile' %}">Apply</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  </div>
</div>
{% endblock content %}

