{% extends 'main.html' %}
{% block content %}
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="container">
  <h2>List of Applications</h2>
                                                   
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Qualification</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>John DOe</td>
        <td>Artificial Intelligence</td>
        <td>10/01/1020</td>
        <td><a href="#" class="link-primary">View</a></td>
        
      </tr>
       <tr>
        <td>1</td>
        <td>Sarah</td>
        <td>Data Science</td>
        <td>13/01/1020</td>
        <td><a href="#" class="link-primary">View</a></td>
       
      </tr>
     <tr>
        <td>1</td>
        <td>John DOe</td>
        <td>User Centered Design</td>
        <td>24/05/2000</td>
        <td><a href="#" class="link-primary">View</a></td>
        
      </tr>
    </tbody>
  </table>
  </div>
</div>
{% endblock content %}

