{% extends 'main.html' %}
{% block content %}
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light header">
      <div class="container-fluid">
        <a class="navbar-brand" style="position: absolute; left: 0; margin-left: 5px;" href="{% url 'home' %}">Corpu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
      </div>
    </nav>
    </header>
<div class="container">
  <div class="card">
  <h3>Job Listings</h3>
                                                   
  <div class="table-responsive mt-3">          
  <table class="table table-primary">
    <thead>
      <tr>
        <th>#</th>
        <th>Job Title</th>
        <th>Unit</th>
        <th>Applications</th>
        <th>Role</th>
        <th>Action</th>
      
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Tutor</td>
        <td>Artificial Intelligence</td>
        <td>11</td>
        <td>PartTime</td>
        <td><button class="btn btn-primary"><a href="#"></a>View</button></td>
      
      </tr>
       <tr>
        <td>2</td>
        <td>Tutor</td>
        <td>Artificial Intelligence</td>
        <td>11</td>
        <td>Fulltime</td>
        <td><a href="#" class="link-primary">View</a></td>
       
      </tr>
     <tr>
        <td>1</td>
        <td>Tutor</td>
        <td>Artificial Intelligence</td>
        <td>10</td>
        <td>Casual/Parttime</td>
        <td><a href="#" class="link-primary">View</a></td>
        
      </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>
{% endblock content %}

