{% extends 'main.html' %}
{% block content %}
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light header">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Corpu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'unit_page' %}">Units</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'unit_page' %}">Staffs</a>
            </li>
          
            
          </ul>
          
          
        </div>
      </div>
    </nav>
    </header>
<div class="container">
  <h2>Job Listings</h2>
                                                   
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Job Title</th>
        <th>Unit</th>
        <th>Applications</th>
        <th>Role</th>
        <th>Action</th>
      
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Tutor</td>
        <td>Artificial Intelligence</td>
        <td>11</td>
        <td>PartTime</td>
        <td><a href="#" class="link-primary">View</a></td>
      
      </tr>
       <tr>
        <td>2</td>
        <td>Tutor</td>
        <td>Artificial Intelligence</td>
        <td>11</td>
        <td>Fulltime</td>
        <td><a href="#" class="link-primary">View</a></td>
       
      </tr>
     <tr>
        <td>1</td>
        <td>Tutor</td>
        <td>Artificial Intelligence</td>
        <td>10</td>
        <td>Casual/Parttime</td>
        <td><a href="#" class="link-primary">View</a></td>
        
      </tr>
    </tbody>
  </table>
  </div>
</div>
{% endblock content %}

