{% extends 'main.html' %}
{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Corpu</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Units</a></li>
      <li><a href="#">Staff</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Register</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h2>Application Lists</h2>
                                                   
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Qualification</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>John</td>
        <td>john123@email.com</td>
        <td>+61406445738</td>
        <td>Bachelor of Education</td>
        <td><a href="#" class="link-primary">View</a></td>
      </tr>
       <tr>
        <td>2</td>
        <td>Lizzie</td>
        <td>lizeli23@email.com</td>
        <td>+61406785038</td>
        <td>Bachelor of Technology</td>
        <td><a href="#" class="link-primary">View</a></td>
      </tr>
       <tr>
        <td>1</td>
        <td>John</td>
        <td>john123@email.com</td>
        <td>+61406445738</td>
        <td>Bachelor of Education</td>
        <td><a href="#" class="link-primary">View</a></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
{% endblock content %}

