{% extends 'main.html' %}
{% block content %}
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<header class="site-navbar mt-3">
    <div class="container-fluid">
    <div class="row align-items-center">
    <div class="site-logo col-6"><a href="{% url 'home' %}">Corpu</a></div>
    <nav class="mx-auto site-navigation">
    <ul class="site-menu js-clone-nav ml-0 pl-0">
    <li><a href="{% url 'home' %}" class="nav-link active">Home</a></li>
    <li><a href="{% url 'unit_page' %}">Units</a></li>
    <li><a href="#">Staff</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact Us</a></li>
    <li class="d-lg-none"><a href="#">Contact Us</a></li>
    </ul>
    </nav>
    <div class="right-cta-menu text-right d-flex aligin-items-center col-md-6">
    <div class="ml-auto">
    <a href="{% url 'register' %}" style="cursor: pointer;" class="btn btn-primary border-width-2"><span class="mr-2 icon-paper-plane"></span>Register</a>
    <a href="{% url 'login' %}"  style="cursor: pointer;"  class="btn btn-primary border-width-2"><span class="mr-2 icon-paper-plane"></span>Login</a>
    </div>
    <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
    </div>
    </div>
    </div>
    </header>
<div class="container">
  <h2>Application Lists</h2>
                                                   
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Qualification</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>John</td>
        <td>john123@email.com</td>
        <td>+61406445738</td>
        <td>Bachelor of Education</td>
        <td><a href="#" class="link-primary">View</a></td>
      </tr>
       <tr>
        <td>2</td>
        <td>Lizzie</td>
        <td>lizeli23@email.com</td>
        <td>+61406785038</td>
        <td>Bachelor of Technology</td>
        <td><a href="#" class="link-primary">View</a></td>
      </tr>
       <tr>
        <td>1</td>
        <td>John</td>
        <td>john123@email.com</td>
        <td>+61406445738</td>
        <td>Bachelor of Education</td>
        <td><a href="#" class="link-primary">View</a></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
{% endblock content %}

