{% extends 'main.html' %}
{% block content %}
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light header">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Corpu</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        
        
          
        </ul>
        
      </div>
    </div>
  </nav>
  </header>
<div class="container mt-4">
  <h2>Application Lists</h2>
                                                   
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Qualification</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>John</td>
        <td>john123@email.com</td>
        <td>+61406445738</td>
        <td>Bachelor of Education</td>
        <td><a href="#" class="link-primary">View</a></td>
      </tr>
       <tr>
        <td>2</td>
        <td>Lizzie</td>
        <td>lizeli23@email.com</td>
        <td>+61406785038</td>
        <td>Bachelor of Technology</td>
        <td><a href="#" class="link-primary">View</a></td>
      </tr>
       <tr>
        <td>1</td>
        <td>John</td>
        <td>john123@email.com</td>
        <td>+61406445738</td>
        <td>Bachelor of Education</td>
        <td><a href="#" class="link-primary">View</a></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
{% endblock content %}

