{% extends 'main.html' %}
{% block content %}
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light header">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Corpu</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
         
        
          
        </ul>
        <div class="ml-auto">
          {% if request.user.is_authenticated %}
          <a href="{% url 'logout' %}"  style="cursor: pointer;"  class="btn btn-primary border-width-2"><span class="mr-2 icon-paper-plane"></span>Logout</a>
          {% else %}
          <a href="{% url 'login' %}"  style="cursor: pointer;"  class="btn btn-primary border-width-2"><span class="mr-2 icon-paper-plane"></span>Login</a>
          {% endif %}
          <label class="toggle">
            <input type="checkbox" id="theme-toggle">
            <div class="toggle-switch"></div>
           
          </label>
         
          
          </div>
        
      </div>
    </div>
  </nav>
  </header>
<h4 class="text-center" style="font-style: italic; color: blue;" id="applicant_name">Sarah Jade</h4>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="payment-card">
                <i class="fa fa-cc-visa payment-icon-big text-success"></i>
                <h5>
                    <strong>
                   Personal Information
                </strong>
                </h5>
                <hr>
                <div class="row mt-3">
                    <div class="col-md-5">
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <p="text">sarahjade@email.com </p>
                        </div>
                      </div>
                    </div>
                    
                </div>
                <div class="row mt-1">
                    <div class="col-md-5">
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Phone No</label>
                        <div class="col-sm-6" style="margin-left: -20px;">
                          <p id="phone"> +61234567485 </p>
                         </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="mb-3 row">
                        <label for="DOB" class="col-sm-2 col-form-label">DOB</label>
                        <div class="col-sm-10">
                          <p id ="dob"> 16/04/2000</p> 
                        </div>
                      </div>
                      </div>
                      <div class="col-md-4">
                        <div class="mb-3 row">
                          <label for="inputPassword" class="col-sm-2 col-form-label">Gender</label>
                          <div class="col-sm-9" style="margin-left: 5px;">
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <p class="gender"> female </p>
                              
                              </div>
                          </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
       
        

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="payment-card">
                <i class="fa fa-cc-visa payment-icon-big text-success"></i>
                <h5>
                    <strong>
                   Qualifications
                </strong>
                </h5>
                <hr>
                <div class="row mt-3">
                    <div class="col-md-12">
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Education</label>
                        <div class="col-sm-10">
                          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Master's in Information Technology">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Certifications</label>
                        <div class="col-sm-10">
                          <p id="Certifications"> Cert V in bio med <br>
                            Diploma in Information Technology <br>
                            Diploma in Informati <br>
                            Diploma in Information Technology <br>
                            on Technology <br>
                         </p>
                          
                        </div>
                      </div>
                      </div>
                      <div class="col-md-12">
                        <div class="mb-3 row">
                          <label for="inputPassword" class="col-sm-2 col-form-label">Work Experience</label>
                          <div class="col-sm-10">
                           <p id="workexp">Developer</p>
                          </div>
                        </div>
                        </div>
                </div>
                
            </div>
        </div>
       
        

    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="payment-card">
                <i class="fa fa-cc-visa payment-icon-big text-success"></i>
                <h5>
                <strong>
                  Availbility 
                </strong>
                </h5>
                <hr>
                <div class="row mt-3">
                    <div class="col-md-5">
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-4 col-form-label">Week Availbility</label>
                        <div class="col-sm-8">
                           <p> Monday, Wednesday, Thrusday</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Timings</label>
                        <div class="col-sm-9">
                          <p id="timings"> 9am - 3pm , 10am -5pm , 12pm-4pm
                        </div>
                      </div>
                      </div>
                     
                
            </div>
        </div>
       
        

    </div>
    
    <div class="row">

        <div class="col-lg-12">
            <div class="col-md-12">
                <div class="payment-card">
                    <i class="fa fa-cc-visa payment-icon-big text-success"></i>
                    <h5>
                        <strong>
                   Preferences
                    </strong>
                    </h5>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-md-5">
                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-sm-4 col-form-label">Preferred unit types</label>
                            <div class="col-sm-8">
                               <p id="Preferences">
                                <br> Online

                               </p>

                            </div>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Preferred Location</label>
                            <div class="col-sm-8">
                               <p id="location"> Hawthorn </p>
                            </div>
                          </div>
                          </div>
                          <div class="col-md-12">
                            <div class="mb-3 row">
                              <label for="inputPassword" class="col-sm-2 col-form-label">Preferred Teaching Styles</label>
                              <div class="col-sm-10">
                                <p id="teaching-style">Online, In-person</p>
                            </div>
                            </div>
                            </div>
                    </div>
                    
                </div>
            </div>
           

           
        </div>
    </div>
   
</div>
{% endblock content %}